
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Protest+Revolution&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

main{
    width: 60%;
    margin: auto;
    border: 1px solid black;
}

section{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
}

.cards{
    max-width: 33%;
    height:25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards img{
    width: 30%;

}