@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */
.container{
    width: 90%;
    margin: auto;
}

/* header */
header{
    background: url('assets/bg-hero-mobile.svg')
    hsl(193, 100%, 96%) no-repeat;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

nav img{
    width: 30%;
}

nav button{
    background-color:white;
    border-radius: 1rem;
    width: 32%;
    border: #ffffff;
    box-shadow: -1px 2px 10px 1px grey;
    padding: 5px;
    /* font-weight: bold; */
    font-family: "poppins" sans-serif;
    font-weight: 600;

}
/* hero-section */
.hero-section{
    margin-top:3rem;
    text-align: center;

}

body{
    font-size: 18px;
}

.hero-content h2{
    width: 90%;
    margin: auto;
    line-height: 2rem;
    font-family: "poppins" , sans-serif;
    font-weight: 600;
}

.hero-content p{
    width: 95%;
    margin: auto;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color: hsl(192, 100%, 9%)
}

.hero-content button{
    margin: 2rem 0 3rem 0;
    height: 2.5rem;
    border-radius: 5rem;
    width: 60%;
    border: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    font-family: "poppins" , sans-serif;
    font-weight: 600;
    
}

.hero-section img{
    width: 75%;

   
}

/* main,for d cards */
.main{
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    height: 101rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards{
    text-align: center;
    border: solid rgb(219, 218, 218);
    padding:1rem;
    box-shadow: -1px 1px 5px rgb(226, 225, 225);
    border-radius: 15px;
    


}

.cards img{
    width: 100%;
}

.cards h2{
    font-family: "poppins",sans-serif;
    font-weight: 600;
    margin: 1rem 0;
}

.cards p{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color: hsl(208, 11%, 55%);
    line-height: 1.7rem;
    font-size: 1rem;
    
}

#card-4{
    margin-top: 235;
    width:100%;
    padding-bottom: 0%;
    padding-top: 2%;
    font-size: 57%;
    font-weight: bolder;
    z-index: 1;
    position: relative;
    background-color: rgb(255, 255, 255);
 

    
    
    
  /* z-index #card-4{
    position: relative
  } ;   */

}

.cards button{
    margin: 2rem 0 3rem 0;
    height: 2.8rem;
    border-radius: 5rem;
    width: 80%;
    border: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    font-family: "poppins" , sans-serif;
    font-weight: 600;
    
}


footer{
    background-color:  hsl(192, 100%, 9%);
  

}

.footerss{
    margin-top: 70%;
}

.footers0 img{
    width:60%;
    margin-top: 50%;
}

.footers1{
    display: flex;
    margin: 6%;
    padding-top: 0%;

    
}

.footers1 img{
    width: 10%;
    height: 60%;
    margin-right: 25;
    margin-top: 10;
}

.footers1 p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 1.7rem;
    margin-bottom: 10;

}

.footers2{
    display: flex;
    margin: 6%;
    
}

.footers2 p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 1.7rem;
}

.footers2 img{
    height: 0%;
    margin-right: 20;
    margin-top: 3;
}


.footers3{
    display: flex;
    margin: 6%;
    
}

.footers3 p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 1.7rem;
}

.footers3 img{
    height: 0%;
    margin-right: 20;
    margin-top: 4;
}

.footers4{
    margin: 6%;
    
}

.footers4 p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 3.0rem;
    padding-bottom: 0rem;
    
}

.footers4{
    margin: 6%;
    
}
.footers4 p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 3.0rem;
}

.footers5{
    margin: 6%;
    
}
.footers5 p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 3.0rem;
}

.icons{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
   
    
    
    
   
}

/* desktop */
@media (min-width:1024px){
    /* nav -section */
    nav img {
        width: 20%;
    }

    nav button{
        width: 15%;
    }

    /* hero section */
    .hero-section{
        display: flex;
        align-items: center;
        
    }

    .hero-content{
        width: 30%;
        
    }


    .hero-content h2{
        text-align: start;
        width: 100%;
    }

    .hero-content p{
        text-align: start;
        width: 100%;
        
    }
    
    .hero-content button{
        width: 100%;
        
    }
    /* main */
    #card-1{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: start;
    }

    #card-1 img{
        width: 40%;
    }

    
    
    #card-2-main{ 
        width: 40%;
    }
    #card-2{
            display: flex;
            align-items: center;
            text-align: start;
            justify-content: space-between;
        }
    
    #card-2 img{
            width: 40%;
        }
    
    #card-2-main{ 
            width: 60%;

    }

    #card-3-main{ 
        width: 40%;
    }
    #card-3{
            display: flex;
            align-items: center;
            text-align: start;
            justify-content: space-between;
        }
    
    #card-3 img{
            width: 60%;
        }
    
    #card-3-main{ 
            width: 40%;
            justify-content: space-between;

    
    



}

            

    
    



    
       
    

   



  

   

   
    


    













